*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'futura';
}

header {
    background: #EDEDED;
    width: 100%;
    clear: both;
    content: '';
    display: table;  
}

.menu {
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    
}

.logo {
    width: 60px;
    float: left;
    padding: 5px;
    margin-left: 75px
    
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    margin-right: 75px;
    padding: 25px 0px;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #B2B2B2;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #B2B2B2;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'avenir medium';
}

.container-form a{
    font-size: 17px;
    font-family: 'avenir';
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    
}

.container-form a i{
    color: orange;
    margin-right: 10px;
    
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    font-family: 'avenir'; 
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border border-radius: 3px;
    outline: 0px;
    
    
}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #BE1622;
    color:white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    font-family: 'avenir medium';
}

.container-form .btn-enviar:hover{
    background: #A31425;
    
}

.icono{
    margin-right: 10px;
}

.pie-pagina{
    width: 100%;
}

.pie-pagina .grupo-1{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    padding: 25px 75px;
        
}
.isaacmartinez{
    float: left;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    float: right;
    
} 

.linkedin{
    margin-left: 10px
}